asgiref==3.11.1
certifi==2026.5.20
charset-normalizer==3.4.7
Django==6.0.6
httplib2==0.31.2
idna==3.18
multipledispatch==1.0.0
pyparsing==3.3.2
requests==2.34.2
sqlparse==0.5.5
tzdata==2026.2
urllib3==2.7.0
